name: CI

on:
  push:
    branches: [ master ]

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: toggle workflow command echoing
        run: |
          echo '::echo::on'
          echo '::set-output name=action_echo::enabled'

      - name: list
        run: tree

      - name: Remove File audioConverter
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/audioConverter/
          

      - name: Remove File pictureConverter
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/pictureConverter/

      - name: Remove File AddYourMusicToTheMod.cs
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/AddYourMusicToTheMod.cs

      - name: Remove File AddYourMusicToTheMod.exe
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/AddYourMusicToTheMod.exe
          
      - name: Remove File DeleteYourMusicFromTheMod.cs
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/DeleteYourMusicFromTheMod.cs
          
      - name: Remove File DeleteYourMusicFromTheMod.exe
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/media/yourMusic/DeleteYourMusicFromTheMod.exe
          
      - name: list
        run: tree
      
      - name: create release dir
        run: mkdir release

      - name: move files to release directory
        run: mv -v ./* release/

      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: build # The branch name where you want to push the assets
          FOLDER: release # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
