# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Remove File audioConverter
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/
          
      - name: Remove File pictureConverter
        uses: JesseTG/rm@v1.0.2
        with:
          path: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods/AfterBattleMusic/

      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: build # The branch name where you want to push the assets
          FOLDER: /home/runner/work/pz-after-battle-mods/pz-after-battle-mods # The directory where your assets are generated
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
          MESSAGE: "Build: ({sha}) {msg}" # The commit message
