name: Upload modpack to steam workshop

on:
  workflow_dispatch:

jobs:
  build_mod:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: create mod release dir
      run: mkdir AfterBattle

    - name: create mod release dir
      run: mkdir AfterBattle/Contents
    
    - name: agree eula
      run: echo steam steam/question select "I AGREE" | sudo debconf-set-selections

    - name: agree note
      run: echo steam steam/license note '' | sudo debconf-set-selections

    # Upload to Steam Workshop
    - uses: arma-actions/workshop-upload@v1
      with:
        appId: '108600'    # default
        itemId: '2707611497' # Id of item to update
        contentPath: 'AfterBattle'
        changelog: 'Update'
      env:
        STEAM_USERNAME: forevka_69
        STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }}